html, body {
	overflow-x: hidden;
}

*{
	font-family: 'Mina', sans-serif;
	font-size: 16px;
}

body{
	background-color: #0f0f0f;
	color: white;
}

@font-face{
	font-family: 'neon glow';
	src: url(fonts/neon_glow/neon_glow.otf);
	font-style: normal;
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-brand-img{
	width: 150px;
	height: auto;
}

.navbar-custom, .navbar-brand-img, .navbar-collapse{
	background-color: #292929af !important;
}

.navbar-custom-2 {
	background-color: #292929af;
	margin-left: 3em;
	margin-right: 3em;
}

.navbar-toggler{
	background-color: #0f0f0f !important;
	-webkit-animation: blink 4s infinite alternate;
	animation: blink 4s infinite alternate;
	box-shadow: 0 0 0 transparent, 0 0 10px #CCFF00, 0 0 20px rgba(229, 255, 0, 0.76), 0 0 40px #CCFF00;
}

.navbar-toggler-screen{
	background-color: white;
	z-index: 1;
	width: 3em;
	margin-left: 2em;
	margin-right: 2em;
}

@-webkit-keyframes blink {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.2;
	}
	46% {
		opacity: 1;
	}
}
@keyframes blink {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.2;
	}
	46% {
		opacity: 1;
	}
}

/* This one and the next are together */
.containment-to-center {
	position: relative;
	border: 1px solid #CCFF00;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.navbar-toggler-dot{
	color: red;
	font-size: 2em;
}

.nav-link{
	color: #0EEACF !important;
	background-color: #292929af;
	font-size: 1.2em;
}
@-webkit-keyframes buzz {
	10% {
		opacity: 0.90;
	}
	70% {
		opacity: 0.78;
	}
	80% {
		opacity: 0.80;
	}
	90% {
		opacity: 0.90;
	}
}

@keyframes buzz {
	10% {
		opacity: 0.90;
	}
	70% {
		opacity: 0.78;
	}
	80% {
		opacity: 0.80;
	}
	90% {
		opacity: 0.90;
	}
}

/* Carousel */
.carousel{
	margin-top:5em;
}
.carousel-item{
	width: 100% !important;
	height: auto !important;
}

.carousel-caption{
	background: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: rgba(38, 149, 255, 0.55);
	border-radius: 50%;
	animation: buzz 1.25s infinite alternate;
	box-shadow: 0 0 0 transparent, 0 0 10px rgb(38, 149, 255), 0 0 20px rgba(38, 149, 255, 0.76), 0 0 40px rgb(38, 149, 255);
}

/* Container */
.container{
	padding-top:5em;
}

.container h1 {
	border-bottom: solid;
}

/* Footer */
.footer-dark{
	padding-top: 5em;
	width: 100%;
	background-color: black;
	text-align: center;
}